Project/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCoordinate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCoordinateResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLatitude">
        <s:complexType />
      </s:element>
      <s:element name="GetLatitudeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatitudeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLongitude">
        <s:complexType />
      </s:element>
      <s:element name="GetLongitudeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLongitudeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddCoordinateSoapIn">
    <wsdl:part name="parameters" element="tns:AddCoordinate" />
  </wsdl:message>
  <wsdl:message name="AddCoordinateSoapOut">
    <wsdl:part name="parameters" element="tns:AddCoordinateResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatitudeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatitude" />
  </wsdl:message>
  <wsdl:message name="GetLatitudeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatitudeResponse" />
  </wsdl:message>
  <wsdl:message name="GetLongitudeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLongitude" />
  </wsdl:message>
  <wsdl:message name="GetLongitudeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLongitudeResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCoordinate">
      <wsdl:input message="tns:AddCoordinateSoapIn" />
      <wsdl:output message="tns:AddCoordinateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatitude">
      <wsdl:input message="tns:GetLatitudeSoapIn" />
      <wsdl:output message="tns:GetLatitudeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLongitude">
      <wsdl:input message="tns:GetLongitudeSoapIn" />
      <wsdl:output message="tns:GetLongitudeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCoordinate">
      <soap:operation soapAction="http://tempuri.org/AddCoordinate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatitude">
      <soap:operation soapAction="http://tempuri.org/GetLatitude" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLongitude">
      <soap:operation soapAction="http://tempuri.org/GetLongitude" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCoordinate">
      <soap12:operation soapAction="http://tempuri.org/AddCoordinate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatitude">
      <soap12:operation soapAction="http://tempuri.org/GetLatitude" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLongitude">
      <soap12:operation soapAction="http://tempuri.org/GetLongitude" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://203.230.19.159/TestWeb/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://203.230.19.159/TestWeb/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>